@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

section {
    padding: 96px 0;
}

.container {
    padding: 0 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 16px 0;
}

p {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.purple {
   color: #6415ff; 
}

.btn {
    cursor: pointer;
    color: white;
    background-color: #6415ff;
    padding: 10px 32px;
    font-weight: 600;
    border: none;
    border-radius: 9999px;
}

/* NAVBAR & LANDING */

#landing {
    padding: 0 0 96px;
}
.container__nav {
    padding: 32px;

}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 96px;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo--icon {
    width: 40px;
    height: auto;
}

.nav__title {
    color: rgb(36, 62, 99);
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.6px;
}

.nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin: 0 48px;
}

.nav__link {
    animation: FadeIn all 300ms ease-in-out;
}

.nav__link:hover {
    text-decoration: underline;
    color: #6415ff;
}

.nav__link:hover {
    animation: FadeIn all 300ms ease-in-out;
}

/* .nav__btn {
    
} */

.row__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__description {
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.header__title {
    font-size: 48px;
    line-height: 1.25;
    margin-bottom: 24px;
    padding-right: 24px;
}

.header__description--para {
    font-size: 18px;
    padding-right: 24px ;
    
}

.header__img--wrapper {
    width: 50%;
}

.header__img {
    width: 100%;
}

.header__email--form {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    margin-top: 24px;
    border: 1px solid #a0aec07e;
    border-radius: 9999px;
    overflow: hidden;
    background-color: white;
    position: relative;
}

.header__email--input {
    border: none;
    outline: none;
    border-radius: 9999px;
    width: 100%;
    z-index: 1;
    padding: 16px 24px;
    font-size: 16px;
    color: #a0aec07e;
}

.header__email--btn {
    margin: 8px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #ffffff;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: 600px;
    z-index: 2;
}

.header__customers--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.header__trusted-customers {
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    margin-top: 80px;
}

.header__trusted-customers--logos {
    width: 100%;
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}


/* FEATURES */

.row__features {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.features__subtitle {
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-align: center;
}

.features__title {
    text-align: center;
}

.features__para {
    max-width: 576px;
    text-align: center;
}

.features__box--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.features__box {
    width: calc(100% / 3);
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 64px;
}

.features__box--icons {
    display: flex;
    border: 1px solid #e5e7eb;
    border-radius: 9999px;
    padding: 20px;
}

.features__box--icon {
    width: 24px;
    height: auto;
}

.features__box--description {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-left: 16px;
}

.features__box--title {

}

.features__box--para {
    margin-top: 16px;
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
    color: #7c8ba1;
    max-width: 100%;   
}

/* QUALITY WORK SECTION */

.row__quality-work {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality-work__description {
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0 64px;
}

.quality-work__subtitle {

}

.quality-work__title {
    line-height: 1.2;
    margin: 16px 0;
}

.quality-work__para {

}

.quality-work__btn {
    margin-top: 32px;
    width: 30%;
}



.quality-work__img--wrapper {
    width: 50%;
    max-width: 500px;
    border: 1px solid rgb(229, 231, 235);
    margin: 0 56px;
}

.quality-work__img {
    width: 100%;
}


/* STEPS SECTION */

.steps__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img--wrapper {
    width: 50%;
} 

.steps__img {
    width: 100%;
}

.steps__description {
    width: 50%;
}






